step_function/definition.json
{
  "Comment": "AiroInsights data ingestion — scheduled flight + weather fetch",
  "StartAt": "IngestData",
  "States": {
    "IngestData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${lambda_arn}",
        "Payload": {
          "fetch_flights": true,
          "use_mock": false,
          "locations": [
            {"name": "zurich",    "iata": "ZRH", "lat": 47.3769, "lon":  8.5417},
            {"name": "frankfurt", "iata": "FRA", "lat": 50.1109, "lon":  8.6821},
            {"name": "london",    "iata": "LHR", "lat": 51.5072, "lon": -0.1276},
            {"name": "paris",     "iata": "CDG", "lat": 48.8566, "lon":  2.3522}
          ]
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "saved.$": "$.Payload.saved"
      },
      "ResultPath": "$.result",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "IngestionFailed",
          "ResultPath": "$.error"
        }
      ],
      "Next": "IngestionSucceeded"
    },
    "IngestionSucceeded": {
      "Type": "Succeed"
    },
    "IngestionFailed": {
      "Type": "Fail",
      "Error": "IngestionFailed",
      "Cause": "Lambda invocation failed after retries"
    }
  }
}